{% extends 'base.html' %}
{% load static %}

{% block content %}

 <!-- ======= hero Section ======= -->
 <section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url({% static 'img/ff.jpg' %})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">We Build, We Test & We Impact </h2>
              <p class="animate__animated animate__fadeInUp">Learn to Take on Challenging Adventures</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Hero Section -->


  <main id="main">
     <!-- ======= Blog Section ======= -->
     <div id="blog" class="blog-area">
      <div class="blog-inner area-padding">
        <div class="blog-overly"></div>
        <div class="container ">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <div class="content">
                  {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                      <h4><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></h4>
                  {% endfor %}
                </ul>
                {% endif %}
                <h2>Latest News</h2>
              </div>
            </div>
          </div>

          <div class="row">
            {% for post in object_list %}
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a href="{% url 'detail' post.pk %}">
                    {% if post.img %}
                    <img src="{{ post.img.url }}" alt="">
                    {% endif %} 
                  </a>
                </div>
                <div class="blog-text">
                  <h4>
                    <a href="{% url 'detail' post.pk %}">{{ post.title }}</a>
                  </h4>
                  <p>{{ post.content|truncatechars:200 }}</p>
                </div>
                <span>
                  <a href="{% url 'detail' post.pk %}" class="ready-btn">Read more <i class="fa fa-angle-right"></i></a>
                 
                </span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

     <!-- ======= Suscribe Section ======= -->
     <div class="suscribe-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
            <div class="suscribe-text text-center">
              <h3>Welcome to our GreRobotics company</h3>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Suscribe Section -->


    <!-- ======= Team Section ======= -->
    <div id="team" class="our-team-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Our special Team</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{% static 'img/team/2.jpg'%}" alt="">
                </a>
                <div class="team-social-icon text-center">
                  <ul>
                    <li>
                      <a href="#">
                        <i class="bi bi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="bi bi-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="bi bi-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="team-content text-center">
                <h4>John Mickel</h4>
                <p>Artificial Intelligent  </p>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{% static 'img/team/1.jpg'%}" alt="">
                </a>
                <div class="team-social-icon text-center">
                  <ul>
                    <li>
                      <a href="#">
                        <i class="bi bi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="bi bi-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="bi bi-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="team-content text-center">
                <h4>Andrew Arnold</h4>
                <p>Physicist</p>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{% static 'img/team/3.jpg'%}" alt="">
                </a>
                <div class="team-social-icon text-center">
                  <ul>
                    <li>
                      <a href="#">
                        <i class="bi bi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="bi bi-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="bi bi-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="team-content text-center">
                <h4>Hanna Lean</h4>
                <p>Contents Creator</p>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{% static 'img/team/4.jpg'%}" alt="">
                </a>
                <div class="team-social-icon text-center">
                  <ul>
                    <li>
                      <a href="#">
                        <i class="bi bi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="bi bi-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="bi bi-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="team-content text-center">
                <h4>Jos Paul</h4>
                <p> Software Engineer</p>
              </div>
            </div>
          </div>
          <!-- End column -->
        </div>
      </div>
    </div><!-- End Team Section -->


   
    <!-- ======= Rviews Section ======= -->
    <div class="reviews-area">
      <div class="row g-0">
        <div class="col-lg-6">
          <a href="{% url 'contact' %}"><img src="{% static 'img/about/ma.jpg'%}" alt="" class="img-fluid"></a>
        </div>
        <div class="col-lg-6 work-right-text d-flex align-items-center">
          <div class="px-5 py-5 py-lg-0">
            <h2>Working with GreRobotics Software and Engineering</h2>
            <h5>We Build, We Test & We Impact..</h5>
            <a href="{% url 'contact' %}" class="ready-btn scrollto">Contact us</a>
          </div>
        </div>
      </div>
    </div><!-- End Rviews Section -->

   {% endblock %}
